<p id="notice"><%= notice %></p>

<h1>Translations</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.key %></td>
        <td><%= translation.value %></td>
        <td><%= link_to 'Show', translation_path(translation) %></td>
        <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="5"><%= "#{@count} of #{@total} records" %></td>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Translation', new_translation_path %>
