<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @translation.key %>
</p>

<ul>
<% @related_translations.each do |related_translation| %>
  <li>
    <strong><%= related_translation.locale.upcase%>:</strong>
    <%= related_translation.value %>
  </li>
<%end%>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
